/* body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
      "header header"
      "nav main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 10px;
    column-gap: 15px;
  }
  
  header {
    grid-area: header;
    border: 2px solid red;
  }
  
  main {
    grid-area: main;
    border: 2px solid blue;
  }
  
  nav {
    grid-area: nav;
    border: 2px solid green;
  } */

  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 4 / 8;
      border-style: solid;
      border-color: black;
    }
    .div2 { grid-area: 4 / 1 / 5 / 3; }
    .lists { grid-area: 5 / 1 / 9 / 3; }
    .restaurants-div { grid-area: 4 / 3 / 9 / 7; }
    .other-div { grid-area: 4 / 7 / 9 / 8; }
